.time-slot {
    padding: 0px 400px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    margin-top: 100px;
}

.time-slots__container {
    width: 100%;
    height: 66vh;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 24px;
}

.time-slot .MuiFormGroup-root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.time-slot__btns {
    margin-bottom: 24px;
    height: 100px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    border: 2px solid #D2D6DC;
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 16px 24px 0px;
}

.time-slot__btns--selected {
    margin-bottom: 24px;
    height: 100px;
    width: 200px;
    border-radius: 100px;
    background-color: #5DC48D;
    border: 2px solid #11AF22;
    color: white !important;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .time-slot__btns:not(:first-of-type) {
    margin-left: 24px;
} */

.time-slot .MuiFormControlLabel-label {
    /* color: white; */
    font-size: 18px;
    font-weight: bold;
}

.MuiRadio-colorPrimary {
    color: rgba(0, 0, 0, 0.4);
}

.Mui-checked {
    color: #11AF22 !important;
}

.Mui-checked .MuiFormControlLabel-root{
    background-color: #5DC48D;
}

@media only screen and (max-width: 1400px) {
    .time-slot {
        padding: 0px 200px;
    }
}

@media only screen and (max-width: 1015px) {
    .time-slot {
        padding: 0px 120px;
    }
}

@media only screen and (max-width: 855px) {
    .time-slot {
        padding: 0px 80px;
    }
}

@media only screen and (max-width: 774px) {
    .time-slot {
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 655px) {
    .time-slot {
        padding: 0px 20px;
    }

    .time-slot__btns {
        width: auto;
        height: auto;
        padding: 16px;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {
    .time-slot {
        padding: 0px 16px;
    }

    .time-slots__container {
        padding: none;
    }

    .MuiDateCalendar-root {
        transform: scale(1.2);
    }    
}