.calendar__widget {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 100px 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
}


.calendar__widget .MuiDateCalendar-root {
    transform: scale(1.5);
    margin: 40px auto 200px auto;
}

.calendar__widget .MuiPickersDay-today {
    background-color: #3278FF;
    color: white;
    font-weight: bold;
    border: none !important;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.calendar__widget .MuiDayCalendar-weekContainer {
    margin: 8px 0px;
}

.MuiPickersDay-dayWithMargin + .css-156tkzh-MuiButtonBase-root-MuiPickersDay-root {
    margin: 0px 4px;
}

.calendar__widget .Mui-selected {
    background-color: #5DC48D !important;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {
    .calendar__widget {
        padding: 24px 20px;
        margin-top: 0;
    }

    .calendar__widget .MuiDateCalendar-root {
        transform: scale(1.2);
    }    
}