.header {
    height: 80px;
    width: 100%;
    padding: 100px 0px;
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    padding: 0px 100px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 1;
    /* border-bottom: 3px solid blue; */
}
