@font-face {
  font-family: PP Telegraf;
  src: url(./assets/fonts/PPTelegraf-Regular.otf);
}

@font-face {
  font-family: Satoshi;
  src: url(./assets/fonts/satoshi/Satoshi-Variable.ttf);
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: 'Satoshi', 'PP Telegraf', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'PP Telegraf', 'Satoshi', sans-serif;
  font-size: 40px;
}

input::placeholder {
  font-family: 'Satoshi', sans-serif;
}

label {
  font-family: 'Satoshi', sans-serif;
}